{% extends 'base.html' %}

{% block content %}
<div class="home">
    <div class="row jumbotron">
        <div class="shop-now">
            <h2>Welcome to Social Cart!</h2>
            <h4><em>Your social shopping companion</em></h4>
            <h4>At the store, or ordering online, invite your friends and have a great time!</h4>
            <a href="/social-cart/">
                <button class="btn btn-shop">Go Social Shopping!</button>
            </a>
        </div>
    </div>
    <div id="products" class="products">
        <div class="well">
            <h4><strong>Exciting Electronics at Rollback Prices</strong></h4>
            <h5>Pick a few and add to your social cart!</h5>
        </div>
        <div id="products-div" class="row">
            <!-- dynamic content goes here -->
        </div>
        <div class="row">
            <!--<div class="col-xs-6">-->
                <!--<button id="add_cart" class="btn btn-info">Add to Cart!</button>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <button id="add_social_cart" class="btn btn-success" style="width: 100%; min-height: 30px;">
                    Add to Social Cart!

                </button>
            <!--</div>-->
        </div>
        <div class="cart-thumb">
            <p class="no-carts">Aww! None of your friends are out and about right now! Wait for the notification or check again later!</p>
            <div id="carts-div" class="input-group">
            <!-- Dynamic content of carts here -->
            </div>
        </div>
    </div>
</div>

{% verbatim card %}
<script type="text/x-handlebars-template" id="template-product-cards">
    {{#each products}}
    <div class="col-xs-6 col-md-4">
        <div class="product">
            <div class="thumbnail product-thumbs">
                <button class="rollback pull-left btn btn-danger">Rollback</button>
                <img src="{{ this.image_url }}" class="img-responsive" alt="Responsive image">

                <div class="overlays">
                    <p class="price">&#36;{{ this.sale_price }}</p>
                </div>
                <div class="overlays-review">
                    <div class="col-xs-6 col-md-4">
                        <img src="{{ this.rating_url }}" class="pull-left img-responsive img-rating"
                             alt="Rating: {{ this.rating }}">
                    </div>
                    <button class="pull-right btn reviews">Reviews<span
                            class="badge">{{ this.reviews }}</span></button>
                </div>
                <div class="name">
                    <p class="product-name">{{ this.name }}</p>
                </div>
                <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-number" data-type="minus"
                                  data-field="quant[2]">
                              <span class="glyphicon glyphicon-minus"></span>
                          </button>
                        </span>
                    <input type="text" name="{{ this.id }}" class="cart-item form-control input-number" value="0" min="0"
                           max="100">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-success btn-number" data-type="plus"
                                  data-field="quant[2]">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </span>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="template-social-carts">
    <div class="cart thumbnail">
        <p>Available Social Carts:</p>
        {{#each carts}}
            <div class="radio">
              <label>
                <input type="radio" class="cart-names" name="cartsAvailable" id="{{ this.get_cart_id }}" value="{{ this.get_cart_id }}">
                {{ this.get_owner_name }}
              </label>
            </div>
        {{/each}}
    </div>
</script>

{% endverbatim card %}


{% endblock content %}

{% block page_specific_js %}

$('#add_cart').click(function() {
console.log('cart');
});

$('#add_social_cart').click(function() {
console.log('social cart');
});

function cartItems(data) {
    var source = $("#template-product-cards").html();
    var template = Handlebars.compile(source);
    var html = template(data);
    $('#products-div').html(html);
    $(".btn-number").click(btnClick);
    $(".input-number").keydown(keyDown);
    $(".input-number").change(inputChange);
}

$.getJSON('/products/?format=json', cartItems);

$('#add_social_cart').click(function () {
    $.ajax({
        url: '/social-cart-add/',
        crossDomain: true,
        cache: false,
        success: function(data){
            <!--data = JSON.parse(data);-->
            console.log(data);
            if (data.carts.length == 0) {
                $('.no-carts').show();
            } else {
                $('.no-carts').hide();
                console.log(data);
                var source = $("#template-social-carts").html();
                var template = Handlebars.compile(source);
                var html = template(data);
                console.log(html);
                $('#carts-div').html(html);
                $("input[name=cartsAvailable]:radio").change(addToCart);
            }
        },
        dataType: "json"});
});


function addToCart() {
    var cart_id = $(this).val();
    products = [];
    prods = $(".cart-item")
    for (i=0, len=prods.length; i < len; i++) {
        prod = $(prods[i]);
        if (prod.val() > 0) {
            var product_dict = {
                "cart": cart_id,
                "product": prod.attr("name"),
                "quantity": prod.val(),
            }
            products.push(product_dict);
        }
    }
    data = {"data[]": products};
    $.ajax({
        url: '/social-cart-add/',
        method: 'POST',
        data: JSON.stringify(products),
        crossDomain: true,
        cache: false,
        contentType: 'application/json',
        dataType: 'json',
        success: function(data){
            console.log('success');
            $('.cart.thumbnail').html("<h5>Successfully added! Happy shopping!</h5>");
      }, dataType: "json"});
}

{% endblock page_specific_js %}
