{% extends 'base.html' %}

{% block content %}

<div id="products" class="social products">
    <div id="invitees-div" class="container">
        <h3>Notify your friends:</h3>
        <p><small>Touch to select</small></p>
        <div class="thumbnail invitees">
            <h4>Groups:</h4>
            <div id="invitee-groups">
                <p>Oops! No groups created yet!<br>Navigate to Groups to start!</p>
                <!-- dyanic content here -->
            </div>
            <hr>
            <h4>Friends:</h4>
            <div id="invitee-friends">
                <p>Aww! No friends here yet!<br>Navigate to Friends to find some!</p>
                <!-- dyanic content here -->
            </div>
            <hr>
            <div class="bg-primary notify">Notify!</div>
        </div>
    </div>

    <div id="products-div">
        <div class="container">
            <h4>Social Cart Items:</h4>
            <hr>
        </div>
            <!-- dynamic content goes here -->
    </div>
    <div id="#products-div">
        <div class="container " id="waiting">
            <h5><em>Nothing to show yet! Waiting some awesome additions!</em></h5>
        </div>
    </div>
    <div class="finalize">
        <hr>
        <button id="finalize_cart" class="btn btn-warning" style="width: 80%">Finalize Social Cart!</button>
    </div>
    <div class="success">
        <p id="success-msg"></p>
    </div>
</div>

{% verbatim card %}

<script type="text/x-handlebars-template" id="template-friends">
    <div id="friends-div">
        {{#each friends}}
            <div id="{{ this.user }}" class="friend well">
                <p>{{ this.username }}</p>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="template-groups">
    <div id="groups-div">
        {{#each groups}}
            <div id="{{ this.pk }}" class="group well">
                <p>{{ this.name }}</p>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="template-product-cards">
    {{#each products}}
    <div class="col-xs-6 col-md-4">
        <div class="product cart">
            <div class="thumbnail product-thumbs">
                <button class="rollback pull-left btn btn-danger">Rollback</button>
                <img src="{{ this.image_url }}" class="img-responsive" alt="Responsive image">

                <div class="overlays">
                    <p class="price">&#36;{{ this.sale_price }}</p>
                </div>
                <div class="overlays-review">
                    <img src="{{ this.rating_url }}" class="pull-left img-responsive img-rating"
                         alt="Rating: {{ this.rating }}">
                    <button class="pull-right btn reviews">Reviews<span
                            class="badge">{{ this.reviews }}</span></button>
                </div>
                <div class="prod-name">
                    <p class="product-name">{{ this.name }}</p>
                </div>
                <div class="meta-data">
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="added-info">{{ this.added_by }}</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="quantity-info">Qty: {{ this.quantity }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

{% endverbatim card %}


{% endblock content %}

{% block page_specific_js %}
existing_ids = [];


function greenifyGroup () {
    console.log('greenified');
    if ($(this).hasClass('bg-success')) {
        $(this).removeClass('bg-success selected-group');
    } else {
        $(this).addClass('bg-success selected-group');
    }
}

function greenifyFriend () {
    console.log('greenified');
    if ($(this).hasClass('bg-success')) {
        $(this).removeClass('bg-success selected-friend');
    } else {
        $(this).addClass('bg-success selected-friend');
    }
}

function getGroups() {
    console.log('getting groups');
    $.ajax({
        url: '/groups/',
        success: function(data){
            console.log(data);
            if (data.length > 0) {
                var groups = {"groups": data}
                var source = $("#template-groups").html();
                var template = Handlebars.compile(source);
                var html = template(groups);
                $('#invitee-groups').html(html);
                $('.group.well').click(greenifyGroup);
            }
        },
        dataType: "json",
        crossDomain: true,
        cache: false
    });
}


function getFriends() {
    console.log('getting friends');
    $.ajax({
        url: '/friends/',
        success: function(data){
            console.log(data);
            if (data.length > 0) {
                var friends = {"friends": data}
                var source = $("#template-friends").html();
                var template = Handlebars.compile(source);
                var html = template(friends);
                $('#invitee-friends').html(html);
                $('.friend.well').click(greenifyFriend);
            }
        },
        crossDomain: true,
        cache: false,
        dataType: "json"
    });
}


(function poll(){
   console.log('polling');
   setTimeout(function(){
      doGet();
      poll();
  }, 10000);
})();

function doGet() {
    $.ajax({
        url: '/social-cart/update/',
        success: function(data){
            if (data.length > 0) {
                debugger;
                $('#waiting').hide();
                var products = data;
                for (var i = 0, len = products.length; i < len; i++) {
                    product_id = products[i].id
                    var exist = $.inArray(product_id, existing_ids);
                    if (exist == -1) {
                        existing_ids.push(product_id);
                        var new_products = [];
                        new_products.push(products[i]);
                        var new_data = {}
                        new_data.products = new_products
                        var source = $("#template-product-cards").html();
                        var template = Handlebars.compile(source);
                        var html = template(new_data);
                        $('#products-div').append(html);
                    }
                }
            }
            else {
                $('#waiting').show();
            }
        },
        crossDomain: true,
        cache: false,
        dataType: "json"
    });
}


getGroups();
getFriends();
doGet();

$('.notify').click(function() {
    friends = $(".selected-friend");
    groups = $(".selected-group");
    fr = [];
    gr = [];
    for (var i=0, len=friends.length; i < len; i++) {
        fr.push(friends[i].id);
    }
    for (var i=0, len=groups.length; i < len; i++) {
        gr.push(groups[i].id);
    }
    data = {"friends": fr, "groups": gr}
    console.log(data);
    $.ajax({
        url: '/shop/',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'json',
        crossDomain: true,
        cache: false,
        method: 'POST',
        success: function(data) {
            $('.thumbnail.invitees').html("<h5>Your friends have been notified! Wait and Watch the cart grow! Kudos :D</h5>")
        }
    });
});

$('#finalize_cart').click(function () {
    $.ajax({
        url: '/social-cart/finalize/',
        method: 'POST',
        success: function(data){
            console.log(data);
            $('#success-msg').html("<h4>Purchase is complete! Kudos!</h4>");
        },
        crossDomain: true,
        cache: false,
        dataType: "json"
    });
});


$( document ).ready(function() {
    $('.group.well').click(greenifyGroup);
    $('.friend.well').click(greenifyFriend);
});


{% endblock page_specific_js %}
